* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #FCE4D2;
}

nav{
  width: 100%;
  height: 50px;
  background-color: #0052B4;
  
}

ul{
  margin-left: 20px ;
}

ul li{
  list-style: none;
  display: inline-block;

  line-height: 10px;
}

ul li a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5efef;
  padding: 0 20px !important;
}

ul li a:hover{
  color: rgb(8, 8, 8);
}
.logo{
  width: 200px;
}
.loginposition{
  padding: 0 0 10px 1000px;
}
.logincolor{
  color: #FF7320;
 
}
.container{
  padding-top: 20px;
}
.profile{
  width: 50px !important;
  height: 50px !important;
  margin-left: 10px;
}

.space{
 display: inline-block;
 padding-right: 50px;
}